{% extends 'base.html' %}

{% block main %}
<article class="post post-{{ post.pk }}">
    <header class="entry-header">
      <h1 class="entry-title">{{ post.text_title }}</h1>
      <div class="entry-meta">
        <span class="post-category"><a href="#">{{ post.category.name }}</a></span>
        <span class="post-date"><a href="#"><time class="entry-date"
                                                  datetime="{{ post.created_time }}">{{ post.created_time }}</time></a></span>
        <span class="post-author"><a href="#">{{ post.author }}</a></span>
        <span class="comments-link"><a href="#">4 评论</a></span>
        <span class="views-count"><a href="#">588 阅读</a></span>
      </div>
    </header>
    <div class="entry-content clearfix">
      {{ post.text_body|safe }}<!-- safe过滤器，告诉djangp这段文本是安全的 -->
      <!-- safe 是 django 模板系统中的过滤器（Filter），可以简单地把它看成是一种函数，
      其作用是作用于模板变量，将模板变量的值变为经过滤器处理过后的值。
      例如这里 {{ post.body|safe }}，本来 {{ post.body }}经模板系统渲染后应该显示 body 本身的值，
      但是在后面加上 safe 过滤器后，渲染的值不再是 body 本身的值，而是由 safe 函数处理后返回的值。
      过滤器的用法是在模板变量后加一个 | 管道符号，再加上过滤器的名称。可以连续使用多个过滤器-->
    </div>
  </article>
{% endblock main %}



{% block toc %}
  {% if post.toc %}
    <div class="widget widget-content">
      <h3 class="widget-title">文章目录</h3>
      {{post.toc|safe }}
    </div>
  {% endif %}
{% endblock toc %}